<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:tizen="http://tizen.org/ns/widgets"
    id="http://mikesibiu.com/ytk2kids"
    version="0.1.0"
    viewmodes="maximized">

    <tizen:application id="V9hZ5a5uA0.YTK2Kids" package="V9hZ5a5uA0" required_version="2.3" />
    <content src="index.html"/>
    <name>YTK2 Kids TV</name>
    <description>Kid-safe YouTube browsing with YTK2 filters.</description>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" />
</widget>
